$primary-w: #FFFFFF;
$dirty-w: #F3F6F8;
$juicy-yellow: #FCC841;

$blue: #385FF6;
$dark-blue: #0F1249;
$light-blue: #666892;
$light-gray: #ABACBF;




$font-64px: 4rem;
$font-40px: 2.5rem;
$font-24px: 1.5rem;
$font-18px: 1.125rem;
$font-16px: 1rem;
$font-12px: 0.75rem;



$time-long-hover-anim: 350ms;
$time-hover-anim: 150ms;
$time-click-anim: 100ms;